/*
 * Color variables
 */

$background: #f6f9e9;

$light-green: #ceea75;
$green: #ccde65;
$dark-green: #b6c754;

$gray: #262626;
$light-gray: #4b4b4b;

$dark-blue: #081434;
$blue: #5561ab;
$light-blue: #626fc0;
