html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
		title Pendella
		script(src="js/libs.min.js")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="stylesheet", href="css/colors.css")

	body.grey-background
		header.header
			.container.header__container
				.header__logo
					img(src="img/logo.png", alt="Pendella")
				.header__buttons
					button.button.button_danger(type="button") Contact
		main
			section.recommendation
				.recommendation__container
					.recommendation__row
						.recommendation__coll.recommended
							p.recommendation__coll__recommended-title RECOMMENDED FOR YOU
							.recommendation__coll__header
								img.recommendation__coll__img(src="img/ninja.svg", alt="ninja")
								p.recommendation__coll__title No Exam Life
								p.recommendation__coll__subtitle Decision in 48-72 hours
							.recommendation__coll__body
								p.recommendation__coll__text Need higher coverage amounts? You may qualify for no-exam, term or permanent life insurance with coverage amounts up to $2,000,000 based on age.
								ul.recommendation__coll__list
									li AGE 18-65 MAY QUALIFY
									li UP TO $2,000,000 IN COVERAGE
									li TERM AND PERMANENT COVERAGE
								p.recommendation__coll__text Additionally, full underwriting is available for ages 0-85 for term and permanent life insurance up to $5m in coverage.
							.recommendation__coll__footer
								p.recommendation__coll__subtitle.recommendation__coll__subtitle_clean Speak with an agent
								.recommendation__coll__button-box
									button.button.button_primary.button_shadow.recommendation__coll__button Get started

						.recommendation__coll
							p.recommendation__coll__recommended-title RECOMMENDED FOR YOU
							.recommendation__coll__header
								img.recommendation__coll__img(src="img/term.svg", alt="term")
								p.recommendation__coll__title Instant Decision
								p.recommendation__coll__subtitle Apply in minutes
							.recommendation__coll__body
								p.recommendation__coll__text With instant approval, you don't have to fill out multiple forms, get a medical exam and wait a month or two to find out if you're approved.
								ul.recommendation__coll__list
									li 100% ONLINE
									li AGE 18-60 MAY QUALIFY
									li UP TO $1,000,000 IN COVERAGE
								p.recommendation__coll__text
									| Top rated carriers.
									br
									| No agents. No exams. No hassles.
									br
									| Immediate decision.
							.recommendation__coll__footer
								p.recommendation__coll__subtitle.recommendation__coll__subtitle_clean Get covered today!
								.recommendation__coll__button-box
									button.button.button_primary.button_shadow.recommendation__coll__button Get started

						.recommendation__coll
							p.recommendation__coll__recommended-title RECOMMENDED FOR YOU
							.recommendation__coll__header
								img.recommendation__coll__img(src="img/fex.svg", alt="fex")
								p.recommendation__coll__title Final Expense Plan
								p.recommendation__coll__subtitle Hard to insure?
							.recommendation__coll__body
								p.recommendation__coll__text Final expense plans provide cost-effective life insurance protection for when your age or health would disqualify you from traditional coverage.
								ul.recommendation__coll__list
									li AGE 18-65 MAY QUALIFY
									li UP TO $2,000,000 IN COVERAGE
									li TERM AND PERMANENT COVERAGE
								p.recommendation__coll__text Whole life insurance designed to cover medical bills and funeral expenses – popular with seniors.
							.recommendation__coll__footer
								p.recommendation__coll__subtitle.recommendation__coll__subtitle_clean Same day approval!
								.recommendation__coll__button-box
									button.button.button_primary.button_shadow.recommendation__coll__button Get started
